.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding is better here than margin in .logo
  because this ensures that if the logo is smaller 
  than ul items, a padding is still maintained.
  */
  padding: 20px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  gap: 8px;
  /* originally used width here. gap will allow the
  items to squish the gap if the window size 
  shrinks, whereas width would concatenate the
  content while maintaining the gap*/
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
